<mat-card>
  <mat-card-title>Audit Done</mat-card-title>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Passed">Content of Audit Passed Data</mat-tab>
      <mat-tab label="Not Passed">Content of Audit not Passed Data</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>