<mat-card>
    <mat-card-title>Audit Planned</mat-card-title>
        <mat-card-content>
    
            <mat-tab-group>
                <mat-tab label="First">Content 1</mat-tab>

                <mat-tab label="Second">Content 2</mat-tab> 
            </mat-tab-group>
        
        </mat-card-content>

</mat-card>
