<div class="container">

<h3>Raised Buttons</h3>



<div class="example-button-row">
<p>
  <button mat-raised-button color="primary" routerLink="dashboard/auditDue" routerLinkActive="activebutton"
      matBadge="50" matBadgePosition="after" matBadgeColor="accent">
    Audit Due
  </button>
  
  <button mat-raised-button color="primary" routerLink="dashboard/auditPlanned" routerLinkActive="activebutton"
        matBadge="25" matBadgePosition="after" matBadgeColor="accent">
      Audit Planned
  </button>

  <button mat-raised-button color="primary" routerLink="dashboard/auditDone" routerLinkActive="activebutton"
        matBadge="100" matBadgePosition="after" matBadgeColor="accent">
      Audit Done
  </button>


</p>
</div>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
</div>



